.foo__content {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 400px;
  height: 400px;
  background-color: #222222;
  border-radius: 50%;
  transform: translate(-36%, 50%);
  display: flex;
  justify-content: center;
  align-items: center; }
  .foo__content .foo__input {
    color: #fff;
    transform: translate(29%, -75%); }

.foo__content::before {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #222222; }

* {
  overflow: hidden;
  border: 0;
  font-family: 'Dancing Script', cursive; }

.isloaded {
  animation: fadeIn 1.6s ease-out; }

.loader {
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  background-color: #124582; }
  .loader .loader__logo {
    width: 300px;
    height: 100px;
    position: fixed;
    top: 47%;
    left: 42%;
    background: url("../img/kaamelott.svg") left top no-repeat;
    background-size: contain;
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both infinite;
    animation-delay: 1s;
    transform: translate3d(0, 0, 0); }

input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 50px;
  overflow: hidden;
  width: 240px; }

input:focus {
  box-shadow: none;
  outline: none; }

input::-webkit-slider-runnable-track {
  background: #e33d44;
  content: '';
  height: 2px;
  pointer-events: none; }

input::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  -webkit-appearance: none;
  appearance: none;
  background: transparent;
  border-radius: 8px;
  margin-top: -8px;
  border: 1px solid #777; }

input::-moz-range-track {
  width: 240px;
  height: 2px; }

input::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #777;
  position: relative; }

input::-moz-range-progress {
  height: 2px;
  background: #3399aa;
  border: 0;
  margin-top: 0; }

input::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px;
  width: 240px; }

input::-ms-thumb {
  height: 18px;
  width: 28px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #777; }

input::-ms-fill-lower {
  background: #e33d44;
  border-radius: 0; }

input::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0; }

input::-ms-tooltip {
  display: none; }

.hidden {
  display: none; }

.projet__body {
  text-align: center;
  background-color: #222222; }

.projet__body ul.typeCitationList {
  width: 100%;
  margin: 0;
  padding: 0 !important;
  list-style-type: none;
  float: left; }

.projet__body li.item--list {
  width: 33%;
  height: 100vh;
  vertical-align: middle;
  display: inline-block; }

.projet__body li.item--list:nth-child(1) {
  background: url(../img/karadoc.png) center center no-repeat;
  background-size: cover;
  opacity: 0.8; }

.projet__body li.item--list:nth-child(2) {
  background: url(../img/mix.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0.8; }

.projet__body li.item--list:nth-child(3) {
  background: url(../img/perceval.jpg) center center no-repeat;
  background-size: cover;
  opacity: 0.8; }

li.item--list:nth-child(1):hover, li.item--list:nth-child(2):hover, li.item--list:nth-child(3):hover {
  opacity: 1;
  transition: ease 1s; }

.minWidth {
  width: 14% !important;
  transition: ease-in, 1s; }

.maxWidth {
  width: 70% !important;
  transition: ease-out 1s; }

.cd-title {
  height: 100vh; }

.cd-title h2, .cd-title p {
  color: #fff !important;
  margin-top: 250px;
  padding-bottom: 15px; }

.quote__content {
  border-radius: 5px;
  background-color: #222222; }
  .quote__content p {
    min-height: 100px;
    max-height: 350px;
    line-height: 2.3rem;
    width: 85%;
    margin: 0 auto;
    padding: 5px 0;
    font-size: 1.44rem;
    color: #fff;
    transition: ease 0.5s; }

.quote__content ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0; }

.quote__content img {
  height: 100px; }

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0); }
  20%, 80% {
    transform: translate3d(2px, 0, 0); }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0); }
  40%, 60% {
    transform: translate3d(4px, 0, 0); } }
@keyframes fadeIn {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
