.foo__content{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 400px;
    height: 400px;
    background-color: #222222;
    border-radius: 50%;
    transform: translate(-36%,50%);
      display: flex;
  justify-content: center;
  align-items: center;
  .foo__input{
        color : #fff;
        transform: translate(29%,-75%);
  }
}
.foo__content::before{
    position: absolute;
    bottom: 0;
    left: 0;
    content:'';
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #222222;
}
