*{
    overflow: hidden;
    border: 0;
    font-family: 'Dancing Script', cursive;
}

//Loader

.isloaded{
    animation: fadeIn 1.6s ease-out;

}
.loader{
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 1000;
    background-color: #124582;

    .loader__logo{
        width: 300px;
        height: 100px;
        position: fixed;
        top: 47%;
        left: 42%;
        background: url('../img/kaamelott.svg') left top no-repeat;
        background-size: contain;
        animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both infinite;
        animation-delay: 1s;
        transform: translate3d(0, 0, 0);

    }
}
//général
input {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  min-height: 50px;
  overflow: hidden;
  width: 240px;
}
input:focus {
  box-shadow: none;
  outline: none;
}
input::-webkit-slider-runnable-track {
  background: #e33d44;
  content: '';
  height: 2px;
  pointer-events: none;
}
input::-webkit-slider-thumb {
  height: 18px;
  width: 28px;
  -webkit-appearance: none;
          appearance: none;
  background: transparent;
  border-radius: 8px;
  margin-top: -8px;
  border: 1px solid #777;
}
input::-moz-range-track {
  width: 240px;
  height: 2px;
}
input::-moz-range-thumb {
  height: 28px;
  width: 28px;
  background: #fff;
  border-radius: 100%;
  border: 1px solid #777;
  position: relative;
}
input::-moz-range-progress {
  height: 2px;
  background: #3399aa;
  border: 0;
  margin-top: 0;
}
input::-ms-track {
  background: transparent;
  border: 0;
  border-color: transparent;
  border-radius: 0;
  border-width: 0;
  color: transparent;
  height: 2px;
  margin-top: 10px;
  width: 240px;
}
input::-ms-thumb {
  height: 18px;
  width: 28px;
  background: transparent;
  border-radius: 8px;
  border: 1px solid #777;
}
input::-ms-fill-lower {
  background: #e33d44;
  border-radius: 0;
}
input::-ms-fill-upper {
  background: #c7c7c7;
  border-radius: 0;
}
input::-ms-tooltip {
  display: none;
}


.hidden{
    display:none;
}

