.projet__body {
  text-align: center;
  background-color: #222222; 
}
.projet__body ul.typeCitationList {
    width: 100%;
    margin: 0;
    padding: 0 !important;
    list-style-type: none;
    float: left;
}
.projet__body li.item--list {
    width: 33%;
    height: 100vh;
    vertical-align: middle;
    display: inline-block;
}
    .projet__body li.item--list:nth-child(1) {
        background: url(../img/karadoc.png) center center no-repeat;
        background-size: cover;
        opacity: 0.8; }
    .projet__body li.item--list:nth-child(2) {
        background: url(../img/mix.jpg) center center no-repeat;
        background-size: cover;
        opacity: 0.8; }
    .projet__body li.item--list:nth-child(3) {
        background: url(../img/perceval.jpg) center center no-repeat;
        background-size: cover;
        opacity: 0.8;
}

li.item--list:nth-child(1):hover, li.item--list:nth-child(2):hover, li.item--list:nth-child(3):hover {
  opacity: 1;
  transition: ease 1s;
}

.minWidth {
  width: 14% !important;
  transition: ease-in, 1s; }
.maxWidth {
  width: 70% !important;
  transition: ease-out 1s; }

.cd-title {
  height: 100vh; }
  .cd-title h2, .cd-title p {
    color: #fff !important;
    margin-top: 250px;
    padding-bottom: 15px;
     }
.quote__content{

    border-radius: 5px;
    background-color: #222222;

    p{

        height: 125px;
        width: 80%;
        margin: 0 auto;
        padding: 5px 0;
        font-size: 1.47rem;
        color: #fff;
        transition: ease 0.5s;
    }
}
.quote__content ul{
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}
.quote__content img{
    height: 100px;

}